@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes typing {
  0% {
    transform: translateY(0px);
    background-color: rgb(168 41 90 / var(--tw-bg-opacity, 1));
  }
  28% {
    transform: translateY(-3px);
    background-color: rgb(168 41 90 / var(--tw-bg-opacity, 1));
  }
  44% {
    transform: translateY(0px);
    background-color: rgb(168 41 90 / var(--tw-bg-opacity, 1));
  }
}

.animate-typing {
  animation: typing 1.8s infinite ease-in-out;
}
