@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
